*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  background: #edeff0;
}

h3 {
  color: #b2bac2;
  font-family: 'Nunito', sans-serif;
}

h2 {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding-left: 30px;
  color: #4b5658;
  margin: 0;
  padding-bottom: 20px;

}

.nav-library {
  transform: translateY(50%);
}

.course {
  font-weight: bolder;
  font-size: 14px;
  font-family: 'Nunito',sans-serif;
  color: #7c8b8e;
  padding-left: 30px;
  padding-bottom: 0px;
  padding-top: 40px;
  margin: 0;
  line-height: 20px;
  letter-spacing: .02em;
}

.description {
 position: absolute;
 margin: 0;
 top: 50%;
 transform: translate(0, -50%);
 font-family: 'Nunito',sans-serif;
 padding-left: 30px;
 color: #7c8b8e;
}

.box {
  height: 320px;
  width: 520px;
  background-color: #ffffff;
  float: left;
  margin: 25px;
  border-radius: 5px;
}

.nav {
  width: 90%;
  height: 75px;*/
  border-bottom: #c7c9c9 2px solid;
  box-shadow: 0 4px 6px -6px;
  position: static;
  padding-bottom: 10px;
  margin: 0;
}

.container {
 overflow: auto;
 margin-left: 20px;
 width: 1260px;

}

.java {
 border-top: 55px solid #2c9676;
 position: relative;
 margin-top: 57px;
}

.python {
 border-top: 55px solid #f092b0;
 position: relative;
}

.wordpress {
 border-top: 55px solid #838cc7;
 position: relative;
}

.javaFX {
 border-top: 55px solid #2c9676;
 position: relative;
}

.divider {
 display: inline-block;
 width: 0;
 height: 30px;
 border-left: 1px solid #d4d9dd;
 float: right;
 transform: translateY(-70%);
}

.java-btn {
  width: 55px;
  height: 35px;
  font-size: 14px;
  border-radius: 50px;
  font-family: 'Nunito',sans-serif;
  font-weight: bold;
  color: #2c9676;
  background-color: white;
  border: #eaedef solid 2px;
  position: absolute;
  top: 205px;
  left: 30px;
}

.inter-btn {
  width: 120px;
  height: 35px;
  font-size: 14px;
  border-radius: 50px;
  font-family: 'Nunito',sans-serif;
  font-weight: bold;
  color: #7c8b8e;
  background-color: white;
  border: #eaedef solid 2px;
  position: absolute;
  top: 205px;
  left: 93px;
}

.wordpress-btn {
  width: 100px;
  height: 35px;
  font-size: 14px;
  border-radius: 50px;
  font-family: 'Nunito',sans-serif;
  font-weight: bold;
  color: #838cc7;
  background-color: white;
  border: #eaedef solid 2px;
  position: absolute;
  top: 205px;
  left: 30px;
}

.interword-btn {
  width: 110px;
  height: 35px;
  font-size: 14px;
  border-radius: 50px;
  font-family: 'Nunito',sans-serif;
  font-weight: bold;
  color: #7c8b8e;
  background-color: white;
  border: #eaedef solid 2px;
  position: absolute;
  top: 205px;
  left: 137px;
}

.python-btn {
  width: 75px;
  height: 35px;
  font-size: 14px;
  border-radius: 50px;
  font-family: 'Nunito',sans-serif;
  font-weight: bold;
  color: #f092b0;
  background-color: white;
  border: #eaedef solid 2px;
  position: absolute;
  top: 205px;
  left: 30px;
}

.interpython-btn {
  width: 110px;
  height: 35px;
  font-size: 14px;
  border-radius: 50px;
  font-family: 'Nunito',sans-serif;
  font-weight: bold;
  color: #7c8b8e;
  background-color: white;
  border: #eaedef solid 2px;
  position: absolute;
  top: 205px;
  left: 112px;
}

.play {
  float: right;
  padding-top: 100px;
  padding-right: 7px;
}

.star {
  float: right;
  padding-right: 30px;
  padding-top: 100px;
}

#profile {
  border-radius: 60px;
  padding: 3px;
  border: #2c9676 3px solid;
  transform: translateY(-75%);
  float: right;
  margin: 5px;
}


#score {
  float: right;
  transform: translateY(-140%);
}

#caret {
  float: right;
  font-size: 42px;
  font-weight: lighter;
  transform: translateY(-105%);
  color: #d4d9dd;
  padding-right: 20px;
  margin-bottom: -80px;

}

#bell {
  float: right;
  transform: translateY(-70%);
  padding-right: 15px;
  padding-left: 10px;

}

#arrow {
  float: right;
  transform: translateY(-70%);
  padding-right: 15px;
  padding-left: 15px;
}
